PORT=6969
NODE_ENV="development"

# defaults to http://localhost:$PORT
PSTBN_URL="https://pstbn.dev"

CLOUDFLARE_API_KEY=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ZONE_ID=""
CLOUDFLARE_CACHE_DOMAIN=""

COMMIT_SHA=""

# error, info, silent, warn
VITE_DEVTOOLS=true
VITE_LOG_LEVEL="info"
VITE_FORWARD_CONSOLE=true
VITE_ENABLE_INSPECT=false

UNKEY_ROOT_KEY=""
UNKEY_WORKSPACE_ID=""
UNKEY_WORKSPACE_NAME=""
UNKEY_KEY_SECRET=""
