PORT=6969
NODE_ENV="development"

PSTBN_URL="https://pstbn.dev"
PSTBN_API_KEY=""

APP_VERSION=""

# error, info, silent, warn
VITE_LOG_LEVEL="error"
VITE_DEVTOOLS="false"
VITE_FORWARD_CONSOLE="true"
VITE_PLUGIN_INSPECT="false"
