PORT=6969
NODE_ENV="development"

PSTBN_URL="https://pstbn.dev"
PSTBN_API_KEY=""

# error, info, silent, warn
VITE_LOG_LEVEL="info"
VITE_DEVTOOLS=true
VITE_FORWARD_CONSOLE=true
VITE_ENABLE_INSPECT=false
