{
  "openapi": "3.2.0",
  "info": {
    "title": "pstbn.dev",
    "version": "0.0.0",
    "description": "Agent-first pastebin API. Create, retrieve, and list text pastes with optional language tagging."
  },
  "servers": [
    {
      "url": "https://pstbn.dev",
      "description": "Production"
    },
    {
      "url": "https://pstbn.evm.workers.dev",
      "description": "Development (workers.dev)"
    },
    {
      "url": "http://localhost:{port}",
      "description": "Local development",
      "variables": {
        "port": {
          "default": "6969"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Pastes",
      "description": "Create, retrieve, and list pastes"
    },
    {
      "name": "Meta",
      "description": "Health, documentation, and schema endpoints"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "redirectToDocs",
        "summary": "Redirect to docs",
        "description": "Redirects to the interactive API documentation UI at /docs.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "302": {
            "description": "Redirect to /docs"
          }
        }
      },
      "post": {
        "operationId": "createPasteRaw",
        "summary": "Create pastes from raw or multipart content",
        "description": "Creates a paste from a raw body or up to 10 multipart entries. One multipart entry is stored directly by default; multiple entries are bundled into a ZIP. Public and multipart uploads are limited to 25 MiB. A valid API key raises the limit for raw, non-multipart uploads to 100 MB.",
        "tags": [
          "Pastes"
        ],
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language for syntax highlighting (e.g. json, sh, rust)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "description": "Multipart only. Set true to always return one ZIP paste or false to create one paste per entry. When omitted, multiple entries are zipped and one entry is stored directly.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw paste content or a multipart form containing up to 10 file or text entries. Public and multipart requests are limited to 25 MiB. Authenticated raw, non-multipart requests are limited to 100 MB.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "simple": {
                  "value": "hello world"
                },
                "code": {
                  "value": "const x = 42\nconsole.log(x)"
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "video/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "description": "Up to 10 arbitrarily named file or text entries.",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Paste creation succeeded. Returns one URL for direct or ZIP uploads, or one URL per line when zip=false.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "One or more absolute paste URLs, each followed by a newline.",
                  "examples": [
                    "https://pstbn.dev/01KMEND534DJFKS65C2HTC5VBB\n",
                    "https://pstbn.dev/01KMEND534DJFKS65C2HTC5VBB\nhttps://pstbn.dev/01KMEND534DJFKS65C2HTC5VBC\n"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "rateLimit": {
                    "value": {
                      "ok": false,
                      "error": "Rate limit exceeded"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Empty or invalid body, invalid zip option, or too many multipart entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "empty": {
                    "value": {
                      "ok": false,
                      "error": "Empty body"
                    }
                  },
                  "tooManyEntries": {
                    "value": {
                      "ok": false,
                      "error": "Too many multipart entries; maximum is 10"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The encoded request body exceeds the applicable 25 MiB public/multipart or 100 MB authenticated raw limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "tooLarge": {
                    "value": {
                      "ok": false,
                      "error": "Payload exceeds 25 MiB limit"
                    }
                  },
                  "authenticatedTooLarge": {
                    "value": {
                      "ok": false,
                      "error": "Payload exceeds 100 MB limit"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/create": {
      "get": {
        "operationId": "createPasteQuery",
        "summary": "Create a paste via query parameters",
        "description": "Creates a new paste using the `content` query parameter. Supports optional base64 encoding and language tagging.",
        "tags": [
          "Pastes"
        ],
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "required": true,
            "description": "The paste content. If `encoding=base64`, this should be a base64-encoded string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encoding",
            "in": "query",
            "description": "Set to `base64` to decode the `content` parameter from base64.",
            "schema": {
              "type": "string",
              "enum": [
                "base64"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language for syntax highlighting (e.g. json, sh, rust)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Paste created successfully. Returns the paste URL.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Absolute URL to the created paste, followed by a newline.",
                  "examples": [
                    "https://pstbn.dev/01KMEND534DJFKS65C2HTC5VBB\n"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/paths/~1/post/responses/429"
          },
          "400": {
            "description": "Missing content query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "missing": {
                    "value": {
                      "ok": false,
                      "error": "Missing content query param"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "operationId": "getPaste",
        "summary": "Get a paste by ID",
        "description": "Retrieves raw paste content. Use `Accept: application/json` or the `.json` suffix to return content as application/json. Use `.txt` or `.md` to force text/plain or text/markdown. Use `?meta=true` for metadata plus content as JSON.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PasteId"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "Set to `true` to return metadata plus content as a JSON object.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw paste content, or metadata plus content when `meta=true` is supplied",
            "headers": {
              "X-Language": {
                "description": "Language the paste was tagged with at creation time. Absent if no language was specified.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "description": "Raw paste content requested as application/json"
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PasteMetadata"
                        },
                        {
                          "type": "object",
                          "required": [
                            "content"
                          ],
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The paste content"
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Paste not found"
          }
        }
      }
    },
    "/list": {
      "get": {
        "operationId": "listPastes",
        "summary": "List recent pastes",
        "description": "Returns a paginated list of paste metadata, ordered by creation time.",
        "tags": [
          "Pastes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of pastes to return",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from a previous response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pastes with optional pagination cursor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "pastes",
                        "cursor"
                      ],
                      "properties": {
                        "pastes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PasteMetadata"
                          }
                        },
                        "cursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Cursor for the next page of results. Null if there are no more results."
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "command": {
                          "type": "string"
                        },
                        "duration": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "const": "ok"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Deployment status",
        "description": "Returns the commit SHA for the currently deployed Worker.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Current deployment status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "commitSha"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "const": true
                    },
                    "commitSha": {
                      "type": "string",
                      "description": "Short Git commit SHA for the deployed Worker",
                      "examples": [
                        "abc1234"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/docs": {
      "get": {
        "operationId": "getDocs",
        "summary": "API documentation UI",
        "description": "Renders an interactive API reference powered by Scalar.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "HTML page with the API documentation UI",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/schema": {
      "get": {
        "operationId": "getSchema",
        "summary": "OpenAPI schema",
        "description": "Returns the raw OpenAPI 3.2.0 JSON schema for this API. Also available at `/openapi.json`.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "The OpenAPI specification document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Unkey API key supplied as `Authorization: Bearer <api-key>`."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "A supplied Authorization header is malformed or contains an invalid API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthenticationError"
            },
            "examples": {
              "malformed": {
                "value": {
                  "error": "Invalid Authorization header"
                }
              },
              "invalid": {
                "value": {
                  "error": "NOT_FOUND"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The API key lacks the required permission.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthenticationError"
            },
            "example": {
              "error": "INSUFFICIENT_PERMISSIONS"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "The authentication or rate-limit service is unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AuthenticationError"
            },
            "example": {
              "error": "Service unavailable"
            }
          }
        }
      }
    },
    "parameters": {
      "PasteId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "ULID of the paste",
        "schema": {
          "type": "string",
          "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
          "minLength": 26,
          "maxLength": 26,
          "examples": [
            "01KMEND534DJFKS65C2HTC5VBB"
          ]
        }
      }
    },
    "schemas": {
      "AuthenticationError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Authentication or authorization failure code"
          }
        }
      },
      "PasteMetadata": {
        "type": "object",
        "required": [
          "id",
          "language",
          "size",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ULID of the paste",
            "examples": [
              "01KMEND534DJFKS65C2HTC5VBB"
            ]
          },
          "language": {
            "type": [
              "string",
              "null"
            ],
            "description": "Language tag for syntax highlighting",
            "examples": [
              "rust",
              "json",
              null
            ]
          },
          "size": {
            "type": "integer",
            "description": "Size of the paste content in bytes",
            "examples": [
              42
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the paste was created",
            "examples": [
              "2026-03-24T00:55:06.596Z"
            ]
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the paste content, auto-detected from binary signatures or request headers",
            "examples": [
              "text/plain",
              "image/png",
              "application/octet-stream"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "ok",
          "error"
        ],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
